<!DOCTYPE html>
<head>
    <title>FacePy/about us</title>
    <link rel="stylesheet" type="text/css" href="about.css">
    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="about">
            <div class="text">
                <h1>About Us</h1>
                <div class="line"></div>
            </div>
        </div>
        <div class="content">
        <p><b>F</b>acePy was started as a college project for     the facial recognition set-ups. The web-app can
            help an institute to maintain the curriculum &amp; discipline. The FacePy database contains of
            PIL cropped images of students, &amp; focuses on identifying the same. Any institution faculty
            can access the software for help at required moment .This application ease a lot of issues
            which are faced by faculties &amp; institution in indisplinary situations.

            At FacePy, it all starts with being EAGER: Ethical, Adaptable,Gritty, Empathetic, and Remarkable. We are deliberate about applying these values to everything we do, supporting our
            users with compassion and integrity, or thoughtfully creating products that can help people.
        </p>
        </div>
    </div>
    <footer>jhbgb</footer>
</body>